*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --bg-page: hsl(212, 45%, 89%);
    --bg-card: hsl(0, 0%, 100%);
    --text-primary: hsl(218, 44%, 22%);
    --text-secondary: hsl(216, 15%, 48%);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family:"outfit", system-ui, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-page);
  font-size:15px;
  justify-content: center;
  align-items: center;
}
article, img {
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:3%;
}
article {
    background: var(--bg-card);
    width:20rem;
    padding:1rem;
}

img {
    width:100%;
}

h1, p {
    text-align: center;
}

h1 {
    color: var(--text-primary);
    font-size:1.4rem;
    margin-top:1.5rem;
}

p {
    margin: 0 0 1.6rem 0;
    color: var(--text-secondary);
    font-size:1.02rem;
}
